.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(20%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
body {
    background-color: rgba(191, 236, 255, 1);
}
  .login-container {

    background-color: rgba(191, 236, 255, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 1);

  }

  .login-wrapper {
    border-radius: 25px;
    display: flex;
    width: 650px;
    max-width: 100%;
    flex-direction: column;
  }

  .login-header {
    font-size: 30px;
    align-self: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .login-form-container {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    font-size: 24px;
    font-weight: 100;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  .input-wrapper {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px 15px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 15px;
    position: relative;
  }

  .form-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    background: transparent;
  }

  .forgot-password {
    color: rgba(255, 1, 1, 1);
    font-size: 20px;
    align-self: start;
    margin: 5px 0 0 32px;
    text-decoration: none;
  }

  .submit-button {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    align-self: center;
    margin-top: 40px;
    width: 341px;
    max-width: 100%;
    padding: 10px 10px;
    border: 1px solid rgba(255, 1, 1, 1);
    cursor: pointer;
    font-size: 24px;
    font-weight: 200;
  }

  @media (max-width: 991px) {
    .login-container {
      padding: 0 20px 100px;
    }

    .login-header {
      font-size: 40px;
    }

    .login-form-container {
      max-width: 100%;
      margin-top: 40px;
      padding: 100px 20px 0;
    }

    .input-wrapper {
      max-width: 100%;
      padding: 15px 20px;
    }

    .forgot-password {
      margin-left: 10px;
    }

    .submit-button {
      margin-top: 40px;
      padding: 20px;
    }
  }