  /* ---------footet----------- */
  footer {
    margin-top: 50px;
    color: #fff;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #03a9f4;
  }
  footer i {
    font-size: 30px;
    margin-right: 10px;
  }
  .kiri {
    display: grid;
    place-items: center;
  }
  .kiri img {
    width: 200px;
  }
  .em {
    display: flex;
  }
  .em img{
  
    width: 100px;
  }
  
  .fkanan {
    display: flex;
  }
  .fkanan img{
  
    width: 100px;
  }
  
  .copy {
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
